<%- include("header") -%>
<div class="login">
    <h1>Enter Works</h1>
    <form action="/todo" method="post">
        <input type="hidden" name="id" value= <%= userid %> >
        <input type="text" onfocus="this.value=''" name="task" autocomplete="off" placeholder="TASK" required>
        <button class="addbtn" type="submit" value=<%= username %>>+</button>

    </form>
</div>
    <% usertask.forEach((ta) =>{%>
        <div class="task">
            <%= ta %>  
            <!-- <div class="tick">   -->
                <form class="taskf" action="/deleting" method="post"> 
                    <input type="hidden" name="id" value=<%= userid %>> 
                    <button type="submit" class="tick" name="ttt" value=<%= li %>>
                        <span class="material-symbols-outlined tick">
                        check_circle
                        </span>
                    </button>
                    <% li++%>
                </form>  
            <!-- </div>     -->
        </div>
    <% })%>
    
<%- include("footer") -%>